body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background-color: bisque;
     text-align: center;
     font-weight: bold;
}

.container{
    margin: 23px;
    padding: 32px;
    /* background-color: #4CAF50; */
    text-align: center;
}

span {
    font-size: 20px;
    align-items: center;
}

button{
    background-color: #aec7ae;
    color: white;
    margin: 10px;
    padding: 10px;
}

input {
    padding: 10px;
}
